* {
  font-family: Arial, Helvetica, sans-serif;
}


a {
  text-decoration-color: white;
  text-decoration: underline;
  font-size: 0.7rem;
}

a:link{
  color:white;
}
a:visited{
  color:white;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.7rem;
  text-align: left;
}

b {
  margin-top: 7px;
  margin-bottom: 5px;
  font-size: 14px;
}



body {
  color: white;
  background: black;
}



h1 {
  line-height: 1.15;
  font-size: 1.4rem;
  margin-bottom: 5px;
  margin-top: 5px;
}

img {
  margin-bottom: 5px;
  margin-top: 2rem;
}